*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items{
    position: relative;
    width: 700px;
    height: 300px;
    background-color: aquamarine;
}


.prev::after{
    content: "\f077";
    font-family: FontAwesome;
    color: black;
    position: absolute;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    left: 50%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 50%;
}

.next::after{
    content: "\f078";
    font-family: FontAwesome;
    color: black;
    position: absolute;
    margin-bottom: 4px;
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 0%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 50%;
}

.item {
    height: 100%;
    /* display: none; */
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}